*{
    font-family: 'Arial', Courier, monospace;
    font-size: 35px;
}
html {
    font-family: arial;
    background-image: url(images/background5.jpg);

    
}
#apps {
    width: 760px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
   
}
h1 {
    color: rgb(240, 237, 239);
    background-color: #4b3b0f;
    font-size: 200px;
    text-align:center;
    font-family: 'Britannic Bold';
    margin-bottom: 10px;

}
.first{
    width: 760px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    
}
#app {
    width: auto;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
}
#app img{
    width: 130px;
    margin-left: 1700px;
}
.head p {
font-family: 'Times New Roman';
font-size: 40px;
color: aliceblue;
text-align: center;
margin-bottom:-15px;
margin: auto;
margin-top: 10px;
margin-bottom: 15px;
}
nav ul li {
    list-style-type: none;
    float: left;
    margin: auto;
}
nav ul li a {
    display: inline-block;
    padding: 5px;
    margin: 5px 3px;
    border-radius: 5px;
    color: rgb(221, 210, 221);
    background-color: #4b3b0f;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: rgb(255, 0, 119);
}
h4 {
    font-size: 30px;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 80px;
}
h1 span{
    color: rgba(245, 229, 5, 0.932)
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 20px 0;
    padding: 12px 0;
    background: #fff;
    border: 40px;
    border-radius: 50px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 20px;
    background-image: url(images/pic1.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(images/curug.jpg);
}
.card2{
    background-image: url(images/kampung\ cantik.jpg);
}
.card3{
    background-image: url(images/andjangsifa.jpg);
}
.card4{
    background-image: url(images/cangkring.jpg);
}

.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-size: 15px;
    text-align: center;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 10px;
}
